{% load bootstrap4 %}
{% load static%}
{% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Butcherman&display=swap" rel="stylesheet">
{% endblock %}

<!--Navbar-->
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand text-white" href="/"><h3><strong>MY GALLERY</strong></h3></a>

    <!--categories-->
    <p class="button" style="color: black;">
        <a href="{% url 'nature'%}" class="btn btn-success my-2">Nature</a>
        <a href="{% url 'fashion'%}" class="btn btn-warning my-2">Fashion</a>
        <a href="{% url 'food'%}" class="btn btn-secondary my-2">Food</a>
        <a href="{% url 'animals'%}" class="btn btn-primary my-2">Animals</a>
        <a href="{% url 'index'%}" class="btn btn-info my-2">All Photos</a>
      </p>
    
    <!--search-->
    <div class="col-sm-4 col-md-4 navbar-right">
        <form class="navbar-form" role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Images" name="image">
                <div class="input-group-btn">
                    <button class="btn btn-info" type="submit" style="width: 50px; height: 20px;"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </form>
    </div>

</nav>
 <!--THE IMAGE CARDS-->
{%block content%}
<div class="jumbotron">
    <h1>WELCOME TO MY GALLERY</h1>
</div>
<div class="container">
    <!-- Looping through images -->
    {% for image in images %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm" style="width:20rem;height:23rem;">
            <div class="card-header">{{image.name}}</div>
                <div class="card-body">
                    {%if image.image.url%}
                    <img class="card-img-top"src = "{{ image.image.url }}" data-toggle="modal" data-target="#myModal{{image.id}}" style="height:150px;"/>

                    {%else%}
                    <img class="img-fluid rounded-start img-thumbnail" src="https://via.placeholder.com/150">
                    {%endif%}

                    <br>
                    <p class="card-text">{{image.summary}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#myModal{{image.id}}">View</button>
                        </div>
                        <small class="text-muted">Posted : {{image.pub_date|timesince}}</small>
                    </div>
                </div>
            </div>    
        </div>
        {% empty %}
        <div class="row">
            <h2>There are no images displayed</h2>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}