{% load bootstrap4 %}
{% load static%}
{% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  {% endblock %}
{%block content%}
<div class="container">
    <h1>GALLERIA</h1>
    <!-- Looping through images -->
    {% for image in images %}
    <div class="row" id="gallery">
        <!-- displaying images -->
        <div class="col-md-7">
            {%if image.image.url%}
            <img src="{{image.image.url}}" class="image-responsive" alt="Image" >  
            {%else%}
            <img class="img-fluid rounded-start img-thumbnail" src="https://via.placeholder.com/150">
            {%endif%}
            <div class="text-center">
                <h2>{{image.name}}</h2>
            </div>
            <hr>
        </div>
    {% empty %}
    </div>
    <div class="row">
        <h2>There are no images displayed</h2>
    </div>
    {% endfor %}
</div>



{% endblock %}