{%extends 'index.html'%} 
{% block content %}
<div class="container">

  <div class="container-fluid" style="height: 50px;">
    {% if images%}
      <h2 style="color:cornsilk;" >Found {{ images|length }} of searched category {{message}}</h2><br>
    {% else %}
      <h2> Found 0 images for the search term {{message}}</h2>
    {% endif %}

  </div><br>
  <div class="row">
  {% if images %}
    {% for image in images %}
    <div class="col-md-8">
      <div class="card" style="height: 350px; height: 400px; top: 100px; position: relative; left: 30px;" >
        <h1>{{image.name}}</h1>
          <img style="width: 200px; height: 250px; position: relative; left: 50px;" src="{{image.image.url}}">
      </div>
    </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}