.container{
    width: 1050px;
    height: 800px;
    
    
}
body{
    font-family: 'Butcherman', cursive;
    background-color:darkseagreen;
}
nav{
    background-color: black;
}

.jumbotron{
    background-color:cornflowerblue;
    text-align: center;
}

