.container{
    width: 1050px;
    height: 800px;
    display: flex;
    justify-content: space-around;
}

.card{
    padding: 20px;
    margin: 3px;
    background-color:#100e17;
    color: ghostwhite;
    height: 550px;
    width: 400px;
    border-radius: 50px;
    font-size: 20px;

} 
    
body{
    font-family: 'Sail', cursive;
    background-color:rosybrown;
    font-weight: 800;
}
nav{
    background-color: black;
}

.jumbotron{
    background-image: url('./images/jumbo.gif');
    text-align: center;
    color: whitesmoke;
}

h5{
    font-size: 50px;
    color: rosybrown;
}
.img-fluid{
    position: relative;
    left: 70px;
    height: 200px;
}
.modal-content{
    background-image: url('./images/modalback.png');
    background-size: 400px;
    font-size: 30px;
}
